name: Bump, tag and release on main branch

on:
  pull_request:
    types: [closed]
    branches:
      - main

permissions:
  contents: write
  pull-requests: read

jobs:
  check-skip:
    if: github.event.pull_request.merged == true
    runs-on: ubuntu-latest
    outputs:
      skip-tag: ${{ steps.check.outputs.skip-tag }}

    steps:
      - name: Check PR labels and target branch
        id: check
        run: |
          TARGET_BRANCH=$(jq -r .pull_request.base.ref $GITHUB_EVENT_PATH)
          PR_LABELS=$(jq -r '.pull_request.labels[].name' $GITHUB_EVENT_PATH || echo "")
          echo "Target branch: $TARGET_BRANCH"
          echo "PR labels: $PR_LABELS"

          if [ "$TARGET_BRANCH" != "main" ] || echo "$PR_LABELS" | grep -q "no-tag"; then
            echo "skip-tag=true" >> $GITHUB_OUTPUT
          else
            echo "skip-tag=false" >> $GITHUB_OUTPUT
          fi

  create-tag:
    needs: check-skip
    if: needs.check-skip.outputs.skip-tag == 'false'
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Install RelSync
        run: pip install .

      - name: Set up Git
        run: |
          git config user.name "github-actions[bot]"
          git config user.email "github-actions[bot]@users.noreply.github.com"

      - name: Determine bump type from PR comments
        id: bump
        run: |
          comments=$(gh api repos/${{ github.repository }}/issues/${{ github.event.pull_request.number }}/comments --jq 'sort_by(.created_at) | reverse | .[].body')

          bump="patch"

          while IFS= read -r comment; do
            if [[ "$comment" =~ @bot[[:space:]]+bump[[:space:]]+(major|minor|patch) ]]; then
              bump="${BASH_REMATCH[1]}"
              break
            fi
          done <<< "$comments"

          echo "bump_type=$bump" >> $GITHUB_OUTPUT
        env:
          GH_TOKEN: ${{ github.token }}

      - name: Update and tag
        id: tag
        run: |
          output=$(relsync bump ${{ steps.bump.outputs.bump_type }} --no-chart -c)
          new_tag=$(echo $output | jq '.newTag')
          echo "new_tag=$new_tag"
          echo "new_tag=$new_tag" >> $GITHUB_OUTPUT
        
      - name: Push the new tag
        run: |
          git push origin ${{ steps.tag.outputs.new_tag }}

  release:
    needs: create-tag
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Release
        uses: softprops/action-gh-release@v2
        with:
          generate_release_notes: true
          draft: true
